@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"space mono ", monospace ;
}

:root {
    font-size: 62.5%;
  
}

body {
    font-size: 1.6rem;
    background-color: #C5E4E7;
}
header {
    display: flex;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 4rem;
}

main {
    background-color: #FFF;
    padding: 3.2rem 2.4rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.info strong {
color: #5e7a7d;
}

.input-box {
    margin-top: 6rem;
    background: #f3f9fa;
    padding: 6rem 1.8rem ;
    display: flex;
    align-items: center;
    border-radius: .5rem;

    input{
        border: none;
        background: transparent;
        text-align: right;
        width: 100%;
        outline: none;
        font-size: 2.4rem;
        font-weight: 700;
        color: #00474b;

        &::placeholder {
            opacity:0.35;
            color: #5e7a7d;
        }
    }
}

